{block title}
	{_cms.users.groups}
{/block}

{block pageTitle}
	<h1>{_cms.users.groups}</h1>
{/block}

{block breadcrumb}
	<li class="breadcrumb-item">
		<a n:href=":Admin:Homepage:default">
			<i class="fas fa-tachometer-alt"></i>
		</a>
	</li>
	<li class="breadcrumb-item active">
		<i class="fas fa-users"></i>&nbsp;{_cms.users.groups}
	</li>
{/block}

{block modals}
	<div class="modal fade" id="createModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<form n:name="createUserGroupForm">
					<div class="modal-header">
						<h4 class="modal-title">Nová skupina</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label n:name="name">Název</label>
							<input n:name="name" class="form-control">
						</div>
						<div n:foreach="$form[roles]->items as $key => $label" class="form-group">
							<div class="form-check">
								<input n:name="roles:$key" class="form-check-input" type="checkbox">
								<label class="form-check-label">{$label}</label>
							</div>
						</div>
					</div>
					<div class="modal-footer justify-content-between">
						<a href="#" class="btn btn-default" data-dismiss="modal">{_cms.main.cancel}</a>
						<button n:name="submit" class="btn btn-primary">{_cms.main.add}</button>
					</div>
				</form>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
{/block}

{block vueScripts}
	<script src="{$basePath}/cms/dist/js/vue/components.js"></script>
	<script src="{$basePath}/js/initVue.js"></script>
{/block}

{block content}
	<div class="row">
		<div class="col-12 mb-3 text-right">
			<a href="#" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#createModal">
				<i class="fas fa-plus"></i>&nbsp;{_cms.main.add}
			</a>
		</div>
	</div>

	<!-- Small boxes (Stat box) -->
	<div class="row">
		<div class="col-12">

			<!-- Default box -->
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Groups</h3>
				</div>
				<div class="card-body p-0">
					<table class="table table-striped projects">
						<thead>
						<tr>
							<th>
								Name
							</th>
							<th>
								Role
							</th>
							<th>
							</th>
						</tr>
						</thead>
						<tbody>
						<tr n:foreach="$userGroups as $userGroup">
							<td>
								<a>
									{$userGroup->getName()}
								</a>
							</td>
							<td>
								{foreach $userGroup->getRoles() as $role}{$role->getName()}{sep}, {/sep}{/foreach}
							</td>
							<td class="project-actions text-right">
								<a n:if="$userGroup->isDefault()" n:href="default!, id => $userGroup->getId()"
										class="btn btn-xs btn-success"><i class="fas fa-home"></i> Výchozí</a>
								<a n:if="!$userGroup->isDefault()" n:href="default!, id => $userGroup->getId()"
										class="btn btn-xs btn-outline-success">Výchozí</a>
								<a class="btn btn-info btn-xs" n:href="edit, id => $userGroup->getId()">
									<i class="fas fa-edit">
									</i>
								</a>
								<btn-delete
										redirect="{plink 'delete!', 'id' => $userGroup->getId()}"></btn-delete>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->

		</div>
	</div>
	<!-- /.row -->
{/block}