{block title}
	{_cms.users.list}
{/block}

{block pageTitle}
	<h1>{_cms.users.list}</h1>
{/block}

{block vueScripts}
	<script src="{$basePath}/assets/cms/js/vue/init.js"></script>
{/block}

{block breadcrumb}
	<li class="breadcrumb-item">
		<a n:href=":Admin:Homepage:default">
			<i class="fas fa-tachometer-alt"></i>
		</a>
	</li>
	<li class="breadcrumb-item active">
		<i class="fas fa-user"></i>&nbsp;{_cms.users.list}
	</li>
{/block}

{block content}

	<div class="row">
		<div class="col-12 mb-3 text-right">
			<a n:href=":Admin:User:create" class="btn btn-sm btn-primary">
				<i class="fas fa-plus"></i>&nbsp;{_cms.main.add}
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-12">

			<!-- Default box -->
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Uživatelské účty</h3>
				</div>
				<div class="card-body p-0">
					<table class="table table-striped projects">
						<thead>
						<tr>
							<th style="width: 1%">
								#
							</th>
							<th style="width: 20%">
								Jméno
							</th>
							<th style="width: 30%">
								Skupina
							</th>
							<th>
								Poslední přihlášení
							</th>
							<th style="width: 8%" class="text-center">
								Status
							</th>
							<th style="width: 20%">
							</th>
						</tr>
						</thead>
						<tbody>
						{if count($userList) > 0}
							<tr n:foreach="$userList as $userAccount">
								<td>
									<img alt="Avatar" class="table-avatar"
										 src="{$basePath}{$userAccount->getIcon()}">
								</td>
								<td>
									<a>
										{$userAccount->getReversedFullName()}
									</a>
									<br/>
									<small>
										Vytvořen {$userAccount->getCreateDate()->format('Y-m-d')}
									</small>
								</td>
								<td>
									{$userAccount->getGroup()->getName()}
								</td>
								<td>
									{if $userAccount->getLoginDate()}
										{$userAccount->getLoginDate()->format('d.m.Y H:i:s')}
									{else}
										nikdy
									{/if}
								</td>
								<td class="project-state">
									<span n:if="$userAccount->isActive()" class="badge badge-success">Aktivní</span>
									<span n:if="!$userAccount->isActive()" class="badge badge-danger">Neaktivní</span>
								</td>
								<td class="project-actions text-right">
									<a class="btn btn-info btn-xs" n:href="edit, id => $userAccount->getId()">
										<i class="fas fa-edit">
										</i>
										Upravit
									</a>
									<btn-delete
											label="{_cms.main.confirm}"
											redirect="{plink 'delete!', 'id' => $userAccount->getId()}"></btn-delete>
								</td>
							</tr>
						{else}
							<tr>
								<td colspan="6" class="text-center">Žádní uživatelé v seznamu...</td>
							</tr>
						{/if}
						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->

		</div>
	</div>
	<!-- /.row -->
{/block}