includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon

parameters:
	excludes_analyse:
		- src/Extension/*
	custom_extensions:
		- dist

	checkGenericClassInNonGenericObjectType: false
	checkMissingIterableValueType: false