<?php

declare(strict_types=1);

namespace App\AdminModule\Presenters;

/**
 * Class BaseAdminPresenter
 * @package App\AdminModule\Presenters
 */
class BaseAdminPresenter extends BaseAdminInnerPackagePresenter
{

}