<?php

declare(strict_types=1);


namespace App\AdminModule\Presenters;

/**
 * Class SettingPresenter
 * @package App\AdminModule\Presenters
 */
final class SettingPresenter extends SettingInnerPackagePresenter
{

	/**
	 * @var string
	 */
	protected $pageRight = 'cms__settings';

}