<?php

declare(strict_types=1);

namespace App\AdminModule\Presenters;

/**
 * Class SignInPresenter
 * @package App\AdminModule\Presenters
 */
final class SignPresenter extends SignInnerPackagePresenter
{

}