<?php

declare(strict_types=1);

namespace App\AdminModule\Presenters;


/**
 * Class SystemLogPresenter
 * @package App\AdminModule\Presenters
 */
final class SystemLogPresenter extends SystemLogInnerPackagePresenter
{
	
}
