<?php

declare(strict_types=1);


namespace App\AdminModule\Presenters;

/**
 * Class UserPresenter
 * @package App\AdminModule\Presenters
 */
final class UserPresenter extends UserInnerPackagePresenter
{

}