{cache 'fontawesomeKit', expire => '24 hours', tags => ['fontawesomeKit']}
	{if $kitId !== null}
		<script src="https://kit.fontawesome.com/{$faviconPackId}.js" crossorigin="anonymous"></script>
	{else}
		<link n:if="$cssUrl !== null" href="{$cssUrl}" rel="stylesheet">
		<script n:if="$jsUrl !== null" src="{$jsUrl}" data-auto-add-css="{$cssAutoLoad}"></script>
	{/if}
{/cache}