$avatar-sm: 64px;
$avatar-md: 128px;
$avatar-lg: 256px;

$supportLogoSize: 128px;

.nav-link{
  .user-image{
    height: 30px;
    width: 30px;
    margin: -5px 5px 0 0;
  }
}

.img-avatar-sm{
  max-width: $avatar-sm;
  max-height: $avatar-sm;
}

.img-avatar-md{
  max-width: $avatar-md;
  max-height: $avatar-md;
}

.img-avatar-lg{
  max-width: $avatar-lg;
  max-height: $avatar-lg;
}

.support-logo{
  width: $supportLogoSize;
  height: $supportLogoSize;
}

td.auto-width{
  width: 1px;
  white-space: nowrap;
}