$background: white !default;
$text_color: rgb(102, 102, 102);;
$footer_text_color: $text_color;
$footer_link_color: rgb(0, 56, 61);

.login-page {
  background: $background;

  .login-box {
    .card {
      box-shadow: none !important;
    }

    .login-box-msg{
      color: $text_color;
    }
  }
}

.login-logo {
  img {
    max-height: 100px;
  }
}

.login-footer {
  color: $footer_text_color;
}

.login-footer a {
  color: $footer_link_color;
}