<?php

declare(strict_types=1);

namespace App\AdminModule\Presenters;

/**
 * Class AccountPresenter
 * @package App\AdminModule\Presenters
 */
final class AccountPresenter extends AccountInnerPackagePresenter
{

}
