<?php

declare(strict_types=1);

namespace App\AdminModule\Presenters;

/**
 * Class HomepagePresenter
 * @package App\AdminModule\Presenters
 */
final class HomepagePresenter extends HomepageInnerPackagePresenter
{

}
