<?php

declare(strict_types=1);


namespace App\AdminModule\Presenters;

/**
 * Class UserRolePresenter
 * @package App\AdminModule\Presenters
 */
final class UserRolePresenter extends UserRoleInnerPackagePresenter
{

}