main:
	save: Save
	edit: Edit
	delete: Delete
	back: Back
	adminTitle: Administration
profile:
	title: My profile
	passwordChange: Change password
	firstname: Firstname
	lastName: Lastname
	fullName: Fullname
	namePrefix: Titles before the name
	nameSuffix: Titles after name
	email: E-mail
	phone: Phone
	ipAddress: IP address
	lastLogin: Last login
	device: Device
	sign_out: Sign out
	support: Support
	password: New password
	passwordConfirm: Confirm new password
	passwordChangeSuccess: Password was changed.
	passwordChangeErrorEqual: Password must be equal.
login:
	title: Administration entry
	forgot_password: I forgot my password