{block pageTitle}
	<h1>Dashboard</h1>
{/block}

{block breadcrumb}
	<li class="breadcrumb-item active">
		<i class="fas fa-home"></i>&nbsp;Home
	</li>
{/block}

{block content}
	<div class="row mt-5">
		<div class="col text-center">
			dashboard content
		</div>
	</div>
{/block}